/* navbar */
/* reset some styles */
a:hover {
  text-decoration: none;
}

/* end of reset */
.flex-holder {
  width: 100%;
  padding: 24px 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-item {
  color: inherit;
}

.collapsed {
  display: inline-block;
  position: relative;
}

.collapsed-label {
  color: #000000;
}

.collapsed-content {
  /* dev */
  top: 20px;
  min-width: max-content;
  /* dev */
  display: none;
  position: absolute;
}

.collapsed-content a,
.nav-link a {
  display: block;
}

.collapsed:hover .collapsed-content {
  display: block;
}

.nav-link {
  display: inline-block;
}

/* navbar styling */

.flex-item>h1 {
  margin: 0;
}

.flex-item>div {
  padding: 4px 16px;
}

.basic {
  left: 0px;
  top: 28px;
  background-color: #fff;
  border: 2px solid black;
  padding: 4px 8px;
}

.basic>a {
  font-weight: 700;
  padding: 4px 8px;
}

.triangle {
  font-size: 10px;
}

/* end of navbar */

/* navbar */
.heading {
  /* try 1080px if it goes funky... */
  max-width: 1096px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  background-color: #fff;
}

li {
  display: inline;
  padding: .5em;
}

a {
  text-decoration: underline solid transparent;
}

a:hover {
  text-decoration-color: #ba0001;
  transition: text-decoration 1s ease;
}




/* end of navbar */
