@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Bungee&display=swap');

/* colors */
/* primary: #990000 */

body {
  background-color: #ffffff;
}

small {
  font-size: 12px;
}

body,
p {
  line-height: 1.4em;
}

h2 {
  font-size: 22px;
  font-weight: 600;
}

.clr-mrn-red {
  color: #990000;
}


.content {
  min-width: 320px;
  max-width: 1080px;
  margin: 0 auto;
  padding: 20px;
}

.frame {
  max-width: 685px;
  min-width: 320px;
  box-shadow: 0px 2px 18px 0px rgb(0 0 0 / 30%);
  padding: 16px 16px;
}

.frame-sm {
  /* placeholder props */
  min-width: 320px;
  max-width: 444px;
  /* placeholder props */
  padding: 16px 16px;
  box-shadow: 0px 2px 18px 0px rgb(0 0 0 / 30%);
}

.frame-sm a {
  float: right;
  color: #990000;
  font-size: 14px;
  font-weight: 600;
}

.frame-sm h5 {
  font-size: 18px;
}

.frame-sm h4 {
  font-size: 20px;
}

.frame-sm-img {
  min-width: 320px;
  max-width: 686px;
  margin: 8px;
  padding: 16px 16px;
  box-shadow: 0px 2px 18px 0px rgb(0 0 0 / 30%);
}

.intro-frame {
  min-width: 320px;
  max-width: 600px;
  padding: 16px 16px;
}

.shadow {
  box-shadow: 0px 2px 18px 0px rgb(0 0 0 / 30%);
}

.text-content {
  color: black;
}

.image-content {
  min-width: 65px
}

.quote-container {
  font-size: 14px;
  float: right;
}

.flex-horizontal {
  display: flex;

}

.img-container {
  padding: 16px;
  margin: 8px;
  max-width: 682px;
}

.img-container i {
  line-height: 1.7rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 320px;
  max-width: 1080px;
  margin: 0 auto;
  padding: 34px;
  border-bottom: 1px solid #DCDCDC;
}

.hov-link,
.lang-link {
  padding: 8px 12px;
  display: inline-block;
  position: relative;
}

.eng {
  padding: 8px 12px 8px 2px !important;
}

.nl {
  padding: 8px 2px 8px 12px !important;
}

.hov-border,
.lang-border {
  position: absolute;
  top: 34px;
  border-top: solid 3px rgb(157, 7, 67, 0%);
  color: rgb(0, 0, 0, 0%);
  transition-property: border-top, top;
  transition-duration: .4s, .5s;
}

.hov-link:hover>.hov-border,
.lang-link:hover>.lang-border {
  border-top: solid 3px rgb(157, 7, 67, 100%);
  top: 30px;
}

.active-link,
.active-lang {
  position: relative;
  padding: 8px 12px;
  display: inline-block;
  position: relative;
  color: #990000;
}

.active-border,
.active-lang-border {
  position: absolute;
  top: 30px;
  color: rgb(0, 0, 0, 0%);
  border-top: 3px solid #990000;
}

/* demo mode */
.flex-container {
  padding: 36px 8px;
  margin: 0 auto;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fancy {
  font-family: 'Bungee', cursive;
  font-weight: 500;
  margin: 0;
}

.flx {
  display: flex;
}

.resize-icon {
  width: 25px;
  margin: 0 2px;
}

.footer {
  min-width: 320px;
  max-width: 1080px;
  margin: 0 auto;
  padding: 20px 44px;
}

.q-label {
  margin-bottom: .5rem;
}

.flag-icon {
  top: 12px;
}

/* ********************************************** */
/*  Responsiveness */
/* ********************************************** */


/*  small phones */

@media only screen and (max-width: 444px) {

  .content {
    padding: 0;
  }

  .flex-items-centered {
    flex-direction: column;
  }

  .frame,
  .frame-sm,
  .intro-frame,
  .frame-sm-img {
    margin: .5rem 0;
  }

}

/* big phones */

@media only screen and (min-width: 444px) and (max-width: 768px) {
  .frame {
    margin-bottom: 14px;
  }

  .flex-items-centered {
    flex-direction: column;
  }

  .frame-sm {
    max-width: 100%;
    margin-bottom: 14px;
  }

  .intro-frame,
  .twitter-frame {
    max-width: 100%;
  }

  .twt .frame-sm {
    max-width: 100%;
    margin-bottom: 14px;
  }

  .frame-sm-img {
    margin: .5rem 0;
    max-width: 100%;
  }

  .flex-container {
    padding: 36px;
  }

  .menu-hb {
    position: relative;
  }


}

/* big and small phones */

@media only screen and (max-width: 768px) {
  .hide {
    display: none;
  }

  .show {
    display: inline-block;
  }

  nav {
    position: relative;
  }

  .responsive-links {
    box-shadow: 0px 8px 18px 0px rgb(0 0 0 / 30%);
    max-width: 748px;
    width: 100%;
    top: 106px;
    left: 0px;
    background-color: #fff;
    position: absolute;
    padding-bottom: 16px;
  }

  .responsive-links>div {
    display: block;
  }

  .sm-menu-container {
    display: flex;
    align-items: center;
  }
}


/* tablets */

@media only screen and (min-width: 768px) and (max-width: 1080px) {
  .hide {
    display: none;
  }

  .show {
    display: inline-block;
  }

  .column {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
  }

  .frame {
    min-width: 100%;
    margin-bottom: 14px;
  }

  .frame-sm {
    max-width: 49%;
    margin-bottom: 14px;
  }

  .intro-frame,
  .twitter-frame {
    max-width: 100%;
  }

  .twitter-frame {
    margin-left: auto;
    margin-right: auto;
  }

  .frame-sm-img {
    min-width: 320px;
    max-width: 100%;
    margin: 0;
  }

  .img-container {
    padding: 16px;
    margin: 8px;
    max-width: 1080px;
  }

  nav {
    position: relative;
  }

  .responsive-links {
    box-shadow: 0px 8px 18px 0px rgb(0 0 0 / 30%);
    max-width: 1060px;
    min-width: 768px;
    width: 100%;
    top: 106px;
    left: 0px;
    background-color: #fff;
    position: absolute;
    padding-bottom: 16px;
  }

  .responsive-links>div {
    display: block;
  }

}
.sm-menu-container {
  display: flex;
  align-items: center;
}

/* Laptop and bigger */

@media only screen and (min-width: 1080px) {
  .nav-menu-sm {
    display: none;
  }

  .column {
    display: flex;
    align-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
  }

  .content {
    display: flex;
  }

  .frame {
    min-width: 685px;
  }

  .frame-sm {
    max-width: 334px;
  }

  .intro-frame {
    min-width: 0;
    max-width: 100%;
  }

  .frame,
  .frame-sm,
  .intro-frame {
    margin: .5rem;
  }

  .twitter-frame {
    margin: 10px .5rem .5rem;
    max-width: 324px;
  }

  .text-content>p {
    font-size: 14px;
  }
}
.link-lang-container {
  display: flex;
}