

html {
  font-size: 16px;
}


p {
  margin-top: 0;
  font-size: 1rem;
  margin-bottom: 1rem;
  line-height: 1.1;
}

h1 {
  font-size: 1.6rem;
  font-weight: 900;
}

h2 {
  font-size: 1.5rem;
  font-weight: 800;
}

h3 {
  font-size: 1.4rem;
  font-weight: 800;
}

h4 {
  font-size: 1.3rem;
  font-weight: 700;
}

h5 {
  font-size: 1.2rem;
  font-weight: 600;
}

h6 {
  font-size: 1.1rem;
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  line-height: 1.2;
  margin-bottom: .5rem;
  
}

.sm-txt {
  font-size: 14px;
}